<style> /*
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;

  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

  form {
    width: 100%;
  } */

  form {
    width: 75%;
    margin: auto;
  }

  input,button {
    max-width: 75%;
    margin: auto;
  }
</style>
<h1>Membros</h1>
  <body class="text-center">
    <%# resource = @admin %>
    <%# form_for(resource, , as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= form_with(url: save_new_admin_path, method: "post", html:{class: 'text-center'}) do %>
    <label for="admin_name" class="sr-only">Nome</label>
    <input type="text" id="admin_email" name="admin[name]" class="form-control" placeholder="Nome" required autofocus>
    <label for="admin_email" class="sr-only">Email</label>
    <input type="email" id="admin_email" name="admin[email]" class="form-control" placeholder="Email address" required>
    <label for="admin_password" class="sr-only">Password</label>
    <input type="password" id="admin_password" name="admin[password]" class="form-control" placeholder="Password" required>
  
  <button class="btn btn-lg btn-primary btn-block" type="submit">Criar</button>
  
  <% end %>

